{% extends "base.html" %} {% load static %} {% block content %}
<!-- Login Section -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-3 text-center">Login</h2>
            <p class="text-muted text-center mb-4">
              Please fill the form below to sign in.
            </p>
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.email.label_tag }}
                <input
                  type="email"
                  class="form-control {% if form.email.errors %} is-invalid{% endif %}"
                  id="id_email"
                  name="email"
                  placeholder="Your email"
                  value="{{ form.email.value|default:'' }}"
                  aria-describedby="emailErrors"
                />
                {% if form.email.errors %}
                <div id="emailErrors" class="invalid-feedback">
                  {{ form.email.errors }}
                </div>
                {% endif %}
              </div>
              <div class="mb-3">
                {{ form.password.label_tag }}
                <input
                  type="password"
                  class="form-control {% if form.password.errors %} is-invalid{% endif %}"
                  id="id_password"
                  name="password"
                  value="{{ form.password.value|default:'' }}"
                  aria-describedby="passwordErrors"
                />
                {% if form.password.errors %}
                <div id="passwordErrors" class="invalid-feedback">
                  {{ form.password.errors }}
                </div>
                {% endif %}
              </div>
              <button type="submit" class="btn btn-primary btn-lg w-100">
                Sign In
              </button>
            </form>
            <div class="text-center mt-3">
              <p class="text-muted mt-2">
                Don't have an account?
                <a href="{% url 'signup' %}" class="text-primary">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
